{% extends ets_odm_gird_html_twig %}
{% block grid_table_row %}
  <div class="row">
    <div class="col-sm">
      {{ include('@PrestaShop/Admin/Common/Grid/Blocks/table_order.html.twig', {'grid': grid}) }}
    </div>
  </div>
{% endblock %}
