<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>ets_ordermanager</name>
    <displayName><![CDATA[Order Manager]]></displayName>
    <version><![CDATA[2.5.3]]></version>
    <description><![CDATA[Edit/delete orders, export orders to CSV/Excel, customizable order listing page with quick view. All-in-one order management tool to manage your orders easily and effectively.]]></description>
    <author><![CDATA[ETS-Soft]]></author>
    <tab><![CDATA[front_office_features]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>