{% extends ets_odm_pagination_twig %}
{% block grid_pagination %}
    {% if grid.id=="order"%}<!--begin_pagination_list_order!--><div class="pagination_list_order">{%endif%}
    {{ parent() }}
    {% if grid.id=="order"%}</div><!--end_pagination_list_order!-->{%endif%}
{% endblock %}
